body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3rem; /* Aumenta el tamaño de fuente general */
}

.navbar {
    background-color: black; /* Color rojo de España */
    display: flex;
    justify-content: flex-start; /* Cambiado a flex-start */
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para el navbar */
}

.navbar-brand {
    font-size: 2.5rem; /* Aumenté el tamaño para destacar más */
    font-weight: bold; 
    text-decoration: none; 
    letter-spacing: 1px; /* Espaciado entre letras para un efecto más atractivo */
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.navbar-logo {
    height: 70px; /* Ajusta la altura según lo que necesites */
    width: auto; /* Mantiene la proporción */
    margin-right: 1rem; /* Espacio a la derecha del logo */
}
.navbar-xlogo{
    height: 50px; /* Ajusta la altura según lo que necesites */
    width: auto; /* Mantiene la proporción */
    margin-left: 40rem; /* Esto empuja el logo a la derecha */
}
.navbar-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(43, 109, 184);
    padding: 0.3rem 0.5rem;
    border: 2px solid purple; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    margin-right: auto; /* Ajusta el valor para moverlo a la derecha */
    background-color: white;
}
.nav-item {
    margin-left: 2.5rem; /* Mayor espacio entre los elementos */
}

.nav-item a {
    color:red;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.6rem; /* Aumenté el tamaño de los enlaces */
    border: 2px solid white; /* Borde rojo */
    background-color:white;
    border-radius: 4px; /* Bordes redondeados */
}

.nav-item a:hover {
    color: #ffe600; /* Color amarillo al pasar el mouse */
}

.header {
    text-align: center;
    margin: 2rem 0;
}

.header h1 {
    font-size: 4rem; /* Tamaño de fuente grande para el título */
    color: #FF0000; /* Color rojo para el título */
    font-weight: bold; /* Asegurarse de que sea prominente */
}
.stats p.clarification-text {
    font-size: 1rem; /* Smaller font size */
    color: #666;
    margin-top: -1.5rem;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f1f1f1;
    border-top: 1px solid #eaeaea;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px; 
}

.stats {
    text-align: left;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte para las estadísticas */
    max-width: 600px;
}

.stats p {
    font-size: 2.5rem; 
    font-weight: bold; 
    margin: 1rem 0; 
}

.stats span {
    font-size: 3.5rem; /* Tamaño de números incrementado */
    color: #FF0000; 
    font-weight: bold; 
}

.highlight {
    color: #ffe600; /* Color amarillo para resaltar texto */
    font-weight: bold; 
}
